<nav class="navbar navbar-expand-sm fixed-top  bg-light">
  <div class=" row  container-fluid border1 p-2    bg-light " >
    <div class="col-sm-2 col-md-2 d-flex justify-content-sm-start">
      <img src="./assets/Mom.svg" alt="mom" style="width: 110px">
    </div>
    <div class="col-md-10 " >
      <div class="row">
        <div class="  col-md-9 " >
          <div class="d-flex justify-content-md-center">
            <ul class="nav d-flex justify-content-center">
              <li class="nav-item">
                <a  class="nav-link text-muted" href="#">خانه</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link text-muted">پزشکان مام</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link text-muted">مام مگ</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link text-muted">پرسش پاسخ </a>
              </li>
            </ul>
          </div>
        </div>
        <div class=" col-md-3">
          <div class="d-flex justify-content-md-end ">
            <button type="button" class="btn btn-outline-success ">ورود / ثبت نام </button>
          </div>

        </div>
      </div>
    </div>

  </div>
</nav>



