<nav class=" navbar navbar-expand-sm fixed-top  bg-light">
  <div class="row  container-fluid border1  p-2 bg-light ">
    <div class="col-sm-3 col-md-2     col-lg-2            d-flex justify-content-sm-start">
      <img src="./assets/Mom.svg" alt="mom" style="width: 110px">
    </div>
    <button class="navbar-toggler collaps1" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="col-sm-6 col-md-7   col-lg-8      justify-content-md-center            collapse navbar-collapse "  id="collapsibleNavbar">

            <ul class="navbar-nav  ul1">
              <li class="nav-item ">
                <a  class="nav-link text-muted li1" href="#" >خانه</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link text-muted li1">پزشکان مام</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link text-muted li1">مام مگ</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link text-muted li1 ">پرسش پاسخ </a>
              </li>
            </ul>

        </div>


            <div class=" col-sm-10 col-md-3 col-lg-2 d-flex justify-content-md-end   ">
            <button type="button" class="btn btn-outline-success text-primary border-primary border-2 rounded-pill py-2 px-5 me-1  pd1" > <b>ورود / ثبت نام</b> </button>
          </div>



  </div>
</nav>


<section dir="ltr" class="container-fluid section1">
   <div class="row">
    <div class="col-lg-7">
      <img src="./assets/Baby%20birth-rafiki%201.png "  class=""  style="margin-left: 86px ; margin-top: 5px">
    </div>
     <div class="col-lg-5" >
       <div class="row">
              <div  >
                    <img src="./assets/ssss.png"   class="imgsss" >
              </div>
              <div dir="auto" class="text-mom ">
                  <h1 class=" h1" ><b>مرکز درمان، درمان ناباروری و مرکز تحـقیقات و نوآوری مــــــــام</b></h1>
                  <h5 class="h5"><b>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</b></h5>
              </div>
              <div>
                  <div class="row mt-3">
                     <div class="col-sm-6 justify-content-center">
                       <button type="button" class="btn btn-light p-3">
                         <div class="d-flex justify-content-between">
                           <div>
                             <img src="assets/122.svg" >
                           </div>
                           <div>مشاهده پزشکان مام</div>
                         </div>
                       </button>
                     </div>
                     <div class="col-sm-6 justify-content-center">

                            <button type="button" class="btn  btn-primary  p-3 border-0" >
                              <div class="d-flex justify-content-between">
                                <div>
                                <img src="assets/arrow_back_ios_FILL0_wght400_GRAD0_opsz24.svg" >
                              </div>
                                 <div>نوبت دهی و مشاوره آنلاین</div>
                              </div>
                            </button>

                     </div>
                  </div>
              </div>
       </div>
     </div>
   </div>
</section>
